.wrapper {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  background: no-repeat center center;
  background-size: cover;
  .info-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: rgba(5, 37, 107, .7);
    .info {
      font-weight: bold;
      font-size: 50px;
      text-align: center;
      margin-top: 18%;
      &.info-mobile {
        display: none;
      }
    }
    .infoEN {
      font-size: 34px;
      margin-top: 25px;
      text-align: center;
      font-weight: 300;
      &.infoEN-mobile {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-top: 150%;
    background-size: cover;
    .info-box {
      .info {
        font-size: 2.375rem;
        display: none;
        margin-top: 25%;
        &.info-mobile {
          display: block;
        }
      }
      .infoEN {
        font-size: 1.25rem;
        margin-top: 2.0625rem;
        text-align: center;
        display: none;
        &.infoEN-mobile {
          display: block;
        }
      }
    }
  }
}