#footer{
  background-color: #FFFFFF;
  font-size: 16px;
  color: #FFFFFF;
}

.footerInfo {
  width: 60%;
  margin: auto;
  text-align: justify;
}

.footerInfo span {
  height:18px;
  line-height: 53px;
  font-size: 12px;
}

.footerDiv{
  background: #052565;
  width: 100%;
  margin-top: 50px;
}


#footerList{
  width: 60%;
/*  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-around;*/
  margin: auto;
}


#footerList #businessTitle{
  font-size:34px;
  color: #05256B;
  text-align: left;
  width: 100%;
  padding-top: 50px;
}


#footerList #aList a{
  color: #464646;
  width: 250px;
}

#footerList #aList .listCol{
  height: 30px;
  margin-top: 10px;
  text-align: justify;
}

#footerList #aList a:hover {
  color:blue;
}