.connect_wrap {
  padding-top: 52.1%;
  position: relative;
  .connect_box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    .connect_info {
      width: 78.5%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &>div {
        margin: 38px 0;
      }
      .be_flex {
        display: flex;
      }
      .connect_title, .connect_content, .connect_btn {
        transition: all 1s;
        &:before, &:after {
          content: '';
        }
      }
      .connect_title {
        font-size: 34px;
        color: #05256B;
        font-weight: bold;
      }
      .connect_content {
        line-height: 30px;
        font-size: 16px;
        color: #464646;
      }
      .connect_btn a {
        background: #0087CE;
        color: #fff;
        width: 225px;
        height: 42px;
        line-height: 42px;
        display: inline-block;
        border-radius: 5px;
      }
    }
    .connect_address {
      transition: all 1s;
      position: absolute;
      top: 0;
      right: -20%;
      height: 100%;
      width: 20%;
      background: blue;
      background: url('./../static/bellows-02.jpg') no-repeat center center;
      background-size: cover;
      .cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #052565;
        opacity: 0.57;
      }
      .detail {
        //height: 156px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 105px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .back {
          display: inline-block;
          width: 29px;
          height: 29px;
          background: #00b7ee url('../static/back.png') no-repeat center center;
          border-radius: 50%;
          cursor: pointer;
        }
        .info {
          line-height: 30px;
          color: #fefefe;
          font-size: 20px;
        }
      }
    }
  }
}

.connect_phone {
  display: none;
  position: relative;
  width: 100%;
  overflow: hidden;
  .connect_box {
    padding-bottom: 5.625rem;
    width: 200%;
    white-space: normal;
    position: relative;
    transition: all 0.6s;
    .connect_content {
      width: 50%;
      padding: 0 2%;
      .header {
        font-weight: bold;
        color: #05256B;
        font-size: 1.5rem;
        padding-top: 4.84rem;
        margin-bottom: 3.5rem;
      }
      .content {
        font-size: 0.8125rem;
        color: #464646;
        margin-bottom: 2.6875rem;
      }
      .connect_btn {
        padding: 0.5rem 1rem;
        border-radius: 5px;
        color: #fff;
        background: #0087CE;
        font-size: 0.8125rem;
      }
    }
    .connect_cover {
      width: 50%;
      top: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      display: flex;
      background: url('./../static/bellows-02.jpg') no-repeat center center;
      background-size: cover;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      .back {
        display: inline-block;
        width: 29px;
        height: 29px;
        background: #00b7ee url('../static/back.png') no-repeat center center;
        border-radius: 50%;
        margin-bottom: 2rem;
      }
      .info {
        font-size: 1rem;
        line-height: 2rem;
        color: #fff;
        margin-bottom: 3.5rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .connect_wrap {
    display: none;
  }
  .connect_phone {
    display: block;
  }
}