$menu-bg-color: #202020;
$header-height: 3.125rem;
$header-font-color: #EDEDED;

.logo {
  width: 9rem;
  height: 2.125rem;
  margin: 0.5rem 0 0 23.625rem;
  float: left;

  img {
    width: 100%;
    height: 100%;
  }
}



.menu {
  height: $header-height;
  .menu-title {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 999;
    background: $menu-bg-color;
  
    .menu-btn {
      position: absolute;
      right: 10px;

      font-size: 2rem; 
      color: white;
   
    }
  }

  .menu-content {
    transition: 1s all ease;
    position: fixed;
    z-index: 998;
    width: 100%;
    height: 100%;
  }

  .content-show {
    transform: translateY(64px);
  }
 
  .content-hide {
    transform: translateY(-100%);
  }

}

.involved-share:hover .hover,  
.involved-share .hover-other { 
    display: none; 
} 
 
.involved-share:hover .hover-other { 
    display: block; 
}

.text-container {
  width: 5rem;

  a {
    text-decoration: none;
    color: $header-font-color;
  }
}

.pc-home {
  position: fixed;
  width: 100%;
  height: $header-height;
  z-index: 999;
}