$menu-bg-color: #202020;
$header-height: 3.125rem;
$header-upheight: 2rem;
$header-font-color: #EDEDED;
$mob-height: 100rem/16;
$mob-margin-top: 26rem/16;
$mob-margin-left: 20rem/16;
$mob-logo-height: 48rem/16;
$mob-btn-height: 32rem/16;
$mob-btn-width: 20rem/16;
$mob-btn-rigth: 20rem/16;


body {
  padding-top: $header-height;
}

.logo {
  width: 9rem;
  height: 2.125rem;
  margin: 0.5rem 0 0 23.625rem;
  float: left;

  img {
    width: 100%;
    height: 100%;
  }
}



.menu {
  height: $header-height;
  .menu-title {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 999;
    background: $menu-bg-color;
  
    .menu-btn {
      position: absolute;
      right: $mob-btn-rigth;
    }
  }

  .menu-content {
    transition: 1s all ease;
    position: fixed;
    z-index: 998;
    width: 100%;
    height: 100%;


    .devide {
      height: 65px; 
      background-color: #05256B;
    }
    .menu-footer {
      background-color: #05256B;
      height: 34px;
      font-size: 12px;
      line-height: 34px;
      color: white;
    }
  }

  .content-show {
    transform: translateY($mob-height);
  }
 
  .content-hide {
    transform: translateY(-100%);
  }

}

.involved-share:hover .hover,  
.involved-share .hover-other { 
    display: none; 
} 
 
.involved-share:hover .hover-other { 
    display: block; 
}

.text-container {
  width: 5rem;

  a {
    text-decoration: none;
    color: $header-font-color;
  }
}

.pc-home {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  z-index: 999;
}

@media only screen and (max-width: 768px) {
  body {
    padding-top: 0;
  }

  .menu {
    height: $mob-height;

    .menu-item {
      height: 55px;
      font-size: 20px;
      

      a {
        line-height: 55px;
        color: white;
      }
    }

    .menu-title {
      height: $mob-height;
      padding:$mob-margin-top $mob-margin-left ;


      a {
        text-align: left;
        height: 100%;
        img {
          // position: absolute;
          // left: $mob-margin-left;
          // top: $mob-margin-top;
          // height: $mob-logo-height;
          height: 100%;
        }
      }

      .menu-btn {
        img {
          width: 100%;
          height: 50%;
        }
        width: $mob-btn-width;
        height: $mob-btn-height;
      }
    }
  }

  .menu-open {
    background-color: #05256B !important;
  }
}

#up-animation {
  height: $header-upheight;
  transition: .4s ease;

  a {
    height: 2rem;
  }
}